[tool.poetry]
name = "PBG Bear"
version = "0.1.0"
description = "PBG Python template collection"
authors = ["PBG"]
license = "MIT"
homepage = "https://pythonbiellagroup.it"
repository = "https://github.com/PythonBiellaGroup/Bear"
documentation = ""

classifiers = [
    "Topic :: Cookiecutter",
    "Topic :: Template",
    "Topic :: Python",
    "Topic :: App"
]


[tool.poetry.dependencies]
python = ">=3.9.8, <=3.11"
pytest = "^6.2.5"
psycopg2-binary = "^2.9.1"
pyaml = "^21.8.3"
Unidecode = "^1.3.2"
python-dotenv = "^0.20.0"
pydantic = "^1.9.0"
black = "^22.10.0"

[tool.poetry.dev-dependencies]
flake8 = "^3.9.2"
flake8-isort = "^4.0.0"
flake8-builtins = "^1.5.3"
autopep8 = "^1.5.7"
pylint = "^2.8.2"
bandit = "^1.7.0"
flake8-bandit = "^2.1.2"
autoflake = "^1.3.1"
pytest-cov = "^2.8.1"
ipython = "^7.28"
commitizen = "^2.20.0"
jupyter = "^1.0.0"
mypy = "0.982"

# --- ISORT config --------------------------------------------- #
cookiecutter = "^2.1.1"
[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
line_length = 120

[build-system]
requires = ["poetry-core>=1.2"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "functions: mark test for the base functionalities",
    "core: all about the core",
    "db: all about the database",
    "api: all about the api of the system",
]

# --- Commitizen Release ----------------------------------------- #
[tool.commitizen]
name = "cz_conventional_commits"
tag_format = "v$major.$minor.$patch$prerelease"
version = "0.1.0"
version_files = [
    "__version__.py",
    "pyproject.toml:version"
]
style = [
    ["qmark", "fg:#ff9d00 bold"],
    ["question", "bold"],
    ["answer", "fg:#ff9d00 bold"],
    ["pointer", "fg:#ff9d00 bold"],
    ["highlighted", "fg:#ff9d00 bold"],
    ["selected", "fg:#cc5454"],
    ["separator", "fg:#cc5454"],
    ["instruction", ""],
    ["text", ""],
    ["disabled", "fg:#858585 italic"]
]

[[tool.poetry.source]]
name = "pypi.org"
url = "https://pypi.org/simple"
default = true